body {
  text-align: center;
  background-color: rgba(255, 228, 196, 0.759);
  margin: 40px 20px 0 20px;
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
}

h1 {
  font-family: "Rubik Dirt", sans-serif;
  word-spacing: 4px;
  color: rgba(24, 23, 23, 0.879);
}




